@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Arial', sans-serif;
}

@layer base {
	:root {
		/*Main colors*/
		--custom-light-blue: #48beff;
		--custom-blue: #144b8f;
		--custom-dark-blue: #0a2342;
		--custom-dark-green: #58641d;
		--custom-green: #9bc53d;
		
		--custom-yellow: #fca311;
		--custom-orange: #db7c26;
		--custom-red: #ef6461;
		--custom-dark-red: #8e443d;
		
		--custom-white: #f7f7f7;
		--custom-light-gray: #697777;
		--custom-gray: #444b4b;
		--custom-dark-gray: #262b2b;
		--custom-anthracite: #121416;
		--custom-black: #090a0b;
		
		/*Shades of white and black*/
		--custom-white-primary: #f2f2f2;
		--custom-white-secondary: #ebebeb;
		--custom-white-tertiary: #c2c2c2;
		--custom-white-quaternary: #d5d5d5;
		--custom-black-primary: #0f1112;
		--custom-black-secondary: #171a1c;
		--custom-black-tertiary: #1e2224;
		--custom-black-quaternary: #343a3d;
		
		/*Accent colors*/
		--custom-accent-blue: #80a1c1;
		--custom-accent-green: #00c49a;
		--custom-accent-yellow: #f8e16c;
		--custom-accent-orange: #fa7b4c;
		--custom-accent-red: #ef6461;
		
		/*Base colors*/
		--custom-primary: var(--custom-white);
		--custom-secondary: var(--custom-white-primary);
		--custom-tertiary: var(--custom-white-tertiary);
		--custom-quaternary: var(--custom-white-quaternary);
		
		/*Programming Languages*/
		--language-java: #f89820;
		--language-python: #4b8bbe;
		--language-javascript: #f0db4f;
		--language-typescript: #007acc;
		--language-csharp: #178600;
		--language-cpp: #f34b7d;
		--language-shell: #4e5d6b;
		--language-kotlin: #d023b1;
		--language-groovy: #4b8b8d;
		--language-sql: #b4e600;
		--language-html: #e44d26;
		--language-css: #633194;
		
		/*Frameworks*/
		--framework-spring: #6db33f;
		--framework-asp-dot-net: #7014e6;
		--framework-react: #58c4dc;
		--framework-next-js: #000000; /*Must be inverted in light mode because of readability*/
		--framework-vue-js: #42b883;
		--framework-tailwind: #00bcff;
		--framework-java-fx: #51b9b5;
		--framework-wpf: #b975da;
		--framework-qt: #2bd781;
		--framework-unity: #7c7c7c;
		
		/*Build Systems*/
		--build-system-gradle: #1a2f5c;
		--build-system-maven: #a8215b;
		--build-system-vite: #ffc820;
		
		/*Development Tools*/
		--development-tool-jetbrains: #cb0657;
		--development-tool-eclipse: #f7951e;
		--development-tool-npm: #ca3432;
		--development-tool-git: #f1502f;
		--development-tool-ci-cd: #bab20e;
		--development-tool-docker: #2496ed;
		--development-tool-postman: #fe703b;
		--development-tool-postgresql: #396c94;
		
		/*Shadcn component colors*/
		--background: /*hsl(0 0% 100%)*/ var(--custom-white);
		--foreground: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--card: /*hsl(0 0% 100%)*/ var(--custom-white);
		--card-foreground: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--popover: /*hsl(0 0% 100%)*/ var(--custom-white);
		--popover-foreground: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--primary: /*hsl(0 0% 9%)*/ var(--custom-black-primary);
		--primary-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--secondary: /*hsl(0 0% 96.1%)*/ var(--custom-white-secondary);
		--secondary-foreground: /*hsl(0 0% 9%)*/ var(--custom-black-primary);
		--muted: /*hsl(0 0% 96.1%)*/ var(--custom-white-secondary);
		--muted-foreground: /*hsl(0 0% 45.1%)*/ var(--custom-light-gray);
		--accent: /*hsl(0 0% 96.1%)*/ var(--custom-white-secondary);
		--accent-foreground: /*hsl(0 0% 9%)*/ var(--custom-black-primary);
		--destructive: /*hsl(0 84.2% 60.2%)*/ var(--custom-red);
		--destructive-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--border: /*hsl(0 0% 89.8%)*/ var(--custom-white-tertiary);
		--input: /*hsl(0 0% 89.8%)*/ var(--custom-white-tertiary);
		--ring: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--chart-1: /*hsl(12 76% 61%)*/ var(--custom-accent-blue);
		--chart-2: /*hsl(173 58% 39%)*/ var(--custom-accent-green);
		--chart-3: /*hsl(197 37% 24%)*/ var(--custom-accent-yellow);
		--chart-4: /*hsl(43 74% 66%)*/ var(--custom-accent-orange);
		--chart-5: /*hsl(27 87% 67%)*/ var(--custom-accent-red);
		--radius: 0.5rem;
		--sidebar-background: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--sidebar-foreground: hsl(240 5.3% 26.1%);
		--sidebar-primary: /*hsl(240 5.9% 10%)*/ var(--custom-black-secondary);
		--sidebar-primary-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--sidebar-accent: hsl(240 4.8% 95.9%);
		--sidebar-accent-foreground: /*hsl(240 5.9% 10%)*/ var(--custom-black-secondary);
		--sidebar-border: hsl(220 13% 91%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}
	
	.dark {
		/*Main colors*/
		--custom-light-blue: #00b7db;
		--custom-blue: #0054db;
		--custom-dark-blue: #000f6e;
		--custom-green: #9bc53d;
		--custom-dark-green: #1c800f;
		
		--custom-yellow: #ffd046;
		--custom-orange: #d98324;
		--custom-red: #aa2b35;
		--custom-dark-red: #6a0200;
		
		/*Base colors*/
		--custom-primary: var(--custom-black);
		--custom-secondary: var(--custom-black-secondary);
		--custom-tertiary: var(--custom-black-tertiary);
		--custom-quaternary: var(--custom-black-quaternary);
		
		/*Frameworks*/
		--framework-next-js: #ffffff;
		
		/*Shadcn component colors*/
		--background: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--card: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--card-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--popover: /*hsl(0 0% 3.9%)*/ var(--custom-black);
		--popover-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--primary: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--primary-foreground: /*hsl(0 0% 9%)*/ var(--custom-black-primary);
		--secondary: /*hsl(0 0% 14.9%)*/ var(--custom-black-tertiary);
		--secondary-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--muted: /*hsl(0 0% 14.9%)*/ var(--custom-black-tertiary);
		--muted-foreground: hsl(0 0% 63.9%);
		--accent: /*hsl(0 0% 14.9%)*/ var(--custom-black-tertiary);
		--accent-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: /*hsl(0 0% 98%)*/ var(--custom-white-primary);
		--border: /*hsl(0 0% 14.9%)*/ var(--custom-black-tertiary);
		--input: /*hsl(0 0% 14.9%)*/ var(--custom-black-tertiary);
		--ring: hsl(0 0% 83.1%);
		--chart-1: /*hsl(220 70% 50%)*/ var(--custom-accent-blue);
		--chart-2: /*hsl(160 60% 45%)*/ var(--custom-accent-green);
		--chart-3: /*hsl(30 80% 55%)*/ var(--custom-accent-yellow);
		--chart-4: /*hsl(280 65% 60%)*/ var(--custom-accent-orange);
		--chart-5: /*hsl(340 75% 55%)*/ var(--custom-accent-red);
		--sidebar-background: /*hsl(240 5.9% 10%)*/ var(--custom-black-secondary);
		--sidebar-foreground: hsl(240 4.8% 95.9%);
		--sidebar-primary: hsl(224.3 76.3% 48%);
		--sidebar-primary-foreground: /*hsl(0 0% 100%)*/ var(--custom-white);
		--sidebar-accent: hsl(240 3.7% 15.9%);
		--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
		--sidebar-border: hsl(240 3.7% 15.9%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	
	body {
		@apply bg-background text-foreground;
	}
}
